.Rproj.user
.Rhistory
.RData
.Ruserdata
*.DS_Store
*.Rproj
writing/refpred-cogsci2020.pdf
writing/paper/refpred-cogsci2020.pdf
writing/paper/refpred_updated.pdf
*.aux
*.bbl
*.blg
*.fff
*.ttt
*.log
*.synctex.gz
experiments/direct-modification/modificationXrefUt/node_modules/
experiments/direct-modification/double-modification-FC/node_modules/
